@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/Roboto-Italic.woff2') format('woff2');
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/RobotoCondensed-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/RobotoCondensed-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: magic;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SchoolsOfMagic.otf') format('opentype');
}

select {
    border: 0px;
    font-size: 16px !important;
    height: 32px !important;
    color: #3f414e;
    padding: 5px;
}
select:hover, select:focus {
    border: 1px solid #7a7971;
}
p {
    margin: 2px 0px;
}
.flex-body {
    position: relative;
    display: block;
    width: 700px;
    margin: 0 auto;
}
.flex-row {
    position: relative;
    display: block;
    clear: both;
    padding-top: 15px;
    width: 100%;
}
.flex-row:first-child {
    padding-top: 0px;
}
.header-block {
    float: left;
    width: 520px;
    margin-top: 15px;
}

.sheet-header h1.charname input {
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    font-size: inherit;
    margin-left: 6px;
    margin-top: 0px;
}
.flex-profileimg {
    position: relative;
    float: left;
    width: 180px;
}
.flex-profileimg img.profile {
    border-radius: 3px;
    margin: 10px 0 10px 10px;
    height: 150px;
    margin: 10px;
}

.flex-column {
    position: relative;
    display: block;
    float: left;
    width: 50%;
}
.flex-column h2 {
    margin-left: 5px;
}
.flex-column ul, .flex-row ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.skill-box, .defense-box {
    clear: both;
}
.skill-desc {
    display: inline-block;
    padding: 5px;
    max-width: 280px;
}
.uses {
    font-style: italic;
}
.powers {
    padding: 0px 10px 0px 5px;
}
.box-title, .skill-name {
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #3f414e;
    border: 0px;
    text-align: left !important;
    font-weight: normal;
    margin-bottom: 5px;
}
.skill-value {
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    color: #000;
    font-weight: bold;
    border: 3px solid #c53131;
    border-radius: 3px;
    height: 40px;
    text-align: center;
    margin: 0px;
    font-size: 20px;
    height: 60px;
    width: 60px;
    margin: 5px;
    float: left;
}
.skill-value input {
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 0;
}
.flex-row .flex-column ul.domains {
    margin-left: 5px;
}

.relation-size {
    position: relative;
    display: inline-block;
    width: 50px;
}
.MAJOR {
    color: darkred;
}
.minor {
    color: #8f9197;
}
.flex-column h3 {
    margin: 0.5rem 0 0 0;
}
.relation-name {
    display: inline-block;
    position: relative;
    width: 180px !important;
}

/* standings */
.standings-Hostile {
    color: red !important;
}
.standings-Suspicious {
    color: #c16a01 !important;
}
.standings-Neutral {
    color: black !important;
}
.standings-Friendly {
    color: #0a65c3 !important;
}
.standings-Allied {
    color: #057603 !important;
}
.navigation {
    padding-top: 0px;
}
.action-log h3 {
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}