@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/Roboto-Italic.woff2') format('woff2');
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/RobotoCondensed-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/RobotoCondensed-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: magic;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SchoolsOfMagic.otf') format('opentype');
}

.mtds select {
    border: 0px;
    font-size: 16px !important;
    height: 32px !important;
    color: #3f414e;
    padding: 5px;
}
.mtds select:hover, .mtds select:focus {
    border: 1px solid #7a7971;
}
.mtds p {
    margin: 2px 0px;
}
.mtds .flex-body {
    position: relative;
    display: block;
    width: 700px;
    margin: 0 auto;
}
.mtds .flex-row {
    position: relative;
    display: block;
    clear: both;
    padding-top: 15px;
    width: 100%;
}
.mtds .flex-row:first-child {
    padding-top: 0px;
}
.mtds .header-block {
    float: left;
    width: 520px;
    margin-top: 15px;
}

.mtds .sheet-header h1.charname input {
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    font-size: inherit;
    margin-left: 6px;
    margin-top: 0px;
}
.mtds .flex-profileimg {
    position: relative;
    float: left;
    width: 180px;
}
.mtds .flex-profileimg img.profile {
    border-radius: 3px;
    margin: 10px 0 10px 10px;
    height: 150px;
    margin: 10px;
    max-height: 150px;
    max-width: 150px;
}

.mtds .flex-column {
    position: relative;
    display: block;
    float: left;
    width: 50%;
}
.mtds .flex-column h2 {
    margin-left: 5px;
}
.mtds .flex-column ul, .mtds .flex-row ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mtds .skill-box, .mtds .defense-box {
    clear: both;
}
.mtds .skill-desc {
    display: inline-block;
    padding: 5px;
    max-width: 280px;
}
.mtds .uses {
    font-style: italic;
}
.mtds .powers {
    padding: 0px 10px 0px 5px;
}
.mtds .box-title, .mtds .skill-name {
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #3f414e;
    border: 0px;
    text-align: left !important;
    font-weight: normal;
    margin-bottom: 5px;
}
.mtds .skill-value {
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    color: #000;
    font-weight: bold;
    border: 1px solid var(--color-scrollbar);
    border-radius: 3px;
    height: 40px;
    text-align: center;
    margin: 0px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    margin: 5px;
    float: left;
}
.mtds .skill-value input {
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 0;
}
.mtds .flex-row .flex-column ul.domains {
    margin-left: 5px;
}

.mtds .relation-size {
    position: relative;
    display: inline-block;
    width: 60px;
    padding: 0px;
}
.mtds .MAJOR {
    color: darkred;
}
.mtds .minor {
    color: #8f9197;
}
.mtds .flex-column h3 {
    margin: 0.5rem 0 0 0;
}
.mtds .relation-name {
    display: inline-block;
    position: relative;
    width: 200px !important;
}
.mtds .relation-standings {
    padding: 0px;
}
.mtds .delete-relation {
    color: red;
    float: right;
    padding-top: 8px;
}
.mtds .relation-list {
    width: 100%;
}

/* standings */
.mtds .standings-Hostile {
    color: red !important;
}
.mtds .standings-Suspicious {
    color: #c16a01 !important;
}
.mtds .standings-Neutral {
    color: black !important;
}
.mtds .standings-Friendly {
    color: #0a65c3 !important;
}
.mtds .standings-Allied {
    color: #057603 !important;
}
.mtds .navigation {
    padding-top: 0px;
}
.mtds .action-log h3 {
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}
.mtds .add-btn {
    float: right;
}
.mtds .powers textarea {
    padding: 0;
}

/* OFFICERS */
.mtds .officers {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}
.mtds .officers li {
    clear: both;
}
.mtds .officers h2 {
    padding-top: 10px;
}
.mtds .officers img.profile {
    width: 120px;
    border: none;
    left: 10px;
    max-width: 150px;
    max-height: 150px;
}
.mtds .img-col {
    position: relative;
    float: left;
    width: 140px;
}
.mtds .data-col {
    position: relative;
    float: left;
    width: 520px;
}
.mtds .tab {
    height: 620px !important;
    overflow-y: scroll;
}
.mtds .title-container {
    display:flex;
}
.mtds .title-action {
    float: right;
    width: 100%;
}
.mtds .delete-officer, .mtds .delete-action {
    color: red;
    position: absolute;
    right: 5px;
    margin-top: 10px;
}

.mds .list-padding {
    margin-top: 20px;
}