<form class="{{cssClass}}" autocomplete="off">
    <div class="flex-body">
        <div class="flex-row">
            <div class="flex-profileimg">
                <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
            </div>
            <div class="flex-block header-block">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "mtds.DomainName"}}" />
                </h1>
                <h2 class="commander">
                    <input name="flags.mastertomnl-domain-sheet.commander" type="text" value="{{actor.flags.mastertomnl-domain-sheet.commander}}" placeholder="{{localize "mtds.DomainCommander"}}" />
                </h2>
                <!-- Size -->
                <div class="flex-column">
                    <h4 class="attribute-name box-title">{{localize "mtds.Size"}}</h4>
                    <div class="attribute-value">
                        <select class="actor-size" name="flags.mastertomnl-domain-sheet.size">
                            {{#select actor.flags.mastertomnl-domain-sheet.size}}
                            <option value="1">1 - Tiny</option>
                            <option value="2">2 - Small</option>
                            <option value="3">3 - Medium</option>
                            <option value="4">4 - Big</option>
                            <option value="5">5 - Large</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
                
                <!-- Power Die -->
                <div class="flex-column">
                    <h4 class="box-title">{{localize "mtds.PowerDie"}}</h4>
                    <div class="attribute-value">
                        <select class="actor-size" name="flags.mastertomnl-domain-sheet.powerdie">
                            {{#select actor.flags.mastertomnl-domain-sheet.powerdie }}
                            <option value="d4">d4</option>
                            <option value="d6">d6</option>
                            <option value="d8">d8</option>
                            <option value="d12">d12</option>
                            <option value="d20">d20</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row navigation">
            <nav class="sheet-navigation tabs" data-group="primary">
                <a class="item active" data-tab="stats">{{localize "mtds.Stats"}}</a>
                <a class="item" data-tab="action-log">{{localize "mtds.ActionLog"}}</a>
            </nav>
        </div>

        <section class="sheet-body">
            <div class="tab" data-group="primary" data-tab="stats">
                <div class="flex-row">
                    <!-- SKILLS -->
                    <div class="flex-column">
                        <h2>{{localize "mtds.Skills"}}</h2>
                        <ul>
                            <li class="skill-box">
                                <div class="skill-value">
                                    <input name="flags.mastertomnl-domain-sheet.diplomacy" type="text" value="{{numberFormat actor.flags.mastertomnl-domain-sheet.diplomacy decimals=0 sign=true}}" />
                                </div>
                                <div class="skill-desc">
                                    <h4 class="skill-name">{{localize "mtds.Diplomacy"}}</h4>
                                    <p class="uses">{{localize "mtds.DiplomacyUses"}}</p>
                                    <p>{{localize "mtds.DiplomacyDesc"}}</p>
                                </div>
                            </li>
                            <li class="skill-box">
                                <div class="skill-value">
                                    <input name="flags.mastertomnl-domain-sheet.espionage" type="text" value="{{numberFormat actor.flags.mastertomnl-domain-sheet.espionage decimals=0 sign=true}}" />
                                </div>
                                <div class="skill-desc">
                                    <h4 class="skill-name">{{localize "mtds.Espionage"}}</h4>
                                    <p class="uses">{{localize "mtds.EspionageUses"}}</p>
                                    <p>{{localize "mtds.EspionageDesc"}}</p>
                                </div>
                            </li>
                            <li class="skill-box">
                                <div class="skill-value">
                                    <input name="flags.mastertomnl-domain-sheet.lore" type="text" value="{{numberFormat actor.flags.mastertomnl-domain-sheet.lore decimals=0 sign=true}}" />
                                </div>
                                <div class="skill-desc">
                                    <h4 class="skill-name">{{localize "mtds.Lore"}}</h4>
                                    <p class="uses">{{localize "mtds.LoreUses"}}</p>
                                    <p>{{localize "mtds.LoreDesc"}}</p>
                                </div>
                            </li>
                            <li class="skill-box">
                                <div class="skill-value">
                                    <input name="flags.mastertomnl-domain-sheet.operations" type="text" value="{{numberFormat actor.flags.mastertomnl-domain-sheet.operations decimals=0 sign=true}}" />
                                </div>
                                <div class="skill-desc">
                                    <h4 class="skill-name">{{localize "mtds.Operations"}}</h4>
                                    <p class="uses">{{localize "mtds.OperationsUses"}}</p>
                                    <p>{{localize "mtds.OperationsDesc"}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- DEFENSES -->
                    <div class="flex-column">
                        <h2>{{localize "mtds.Defenses"}}</h2>
                        <ul>
                            <li class="skill-box">
                                <div class="skill-value">
                                    <input name="flags.mastertomnl-domain-sheet.communications" type="text" value="{{numberFormat actor.flags.mastertomnl-domain-sheet.communications decimals=0}}" />
                                </div>
                                <div class="skill-desc">
                                    <h4 class="skill-name">{{localize "mtds.Communications"}}</h4>
                                    <p class="uses">{{localize "mtds.CommunicationsUses"}}</p>
                                    <p>{{localize "mtds.CommunicationsDesc"}}</p>
                                </div>
                            </li>
                            <li class="skill-box">
                                <div class="skill-value">
                                    <input name="flags.mastertomnl-domain-sheet.resolve" type="text" value="{{numberFormat actor.flags.mastertomnl-domain-sheet.resolve decimals=0 }}" />
                                </div>
                                <div class="skill-desc">
                                    <h4 class="skill-name">{{localize "mtds.Resolve"}}</h4>
                                    <p class="uses">{{localize "mtds.ResolveUses"}}</p>
                                    <p>{{localize "mtds.ResolveDesc"}}</p>
                                </div>
                            </li>
                            <li class="skill-box">
                                <div class="skill-value">
                                    <input name="flags.mastertomnl-domain-sheet.resources" type="text" value="{{numberFormat actor.flags.mastertomnl-domain-sheet.resources decimals=0 }}" />
                                </div>
                                <div class="skill-desc">
                                    <h4 class="skill-name">{{localize "mtds.Resources"}}</h4>
                                    <p class="uses">{{localize "mtds.ResourcesUses"}}</p>
                                    <p>{{localize "mtds.ResourcesDesc"}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- 
                <div class="flex-row">
                    <h4>Skills</h4>
                </div>-->
                
                <div class="flex-row">
                    <!-- Powers -->
                    <div class="flex-column">
                        <h2>{{localize "mtds.Powers"}}</h2>
                        <div class="powers">
                            {{#each actor.flags.mastertomnl-domain-sheet.powers as |power|}}
                            <h3>
                                <input type="text" name="flags.mastertomnl-domain-sheet.power.name[]" value="{{power.name}}">
                            </h3>
                            <p>
                                {{#if @root.isGM}}<textarea name="flags.mastertomnl-domain-sheet.power.desc[]">{{power.desc}}</textarea>
                                {{else}}{{power.desc}}{{/if}}
                            </p>
                            {{/each}}
                        </div>
                    </div>
                
                    <!-- Relations -->
                    <div class="flex-column">
                        <h2>
                            {{localize "mtds.Relations"}}
                            {{#if @root.isGM}}<a id="add-relation" class="add-btn">+</a>{{/if}}
                        </h2>
                        <ul class="domains">
                            {{#each actor.flags.mastertomnl-domain-sheet.relations as |relation|}}
                            <li class="">
                                {{#if @root.isGM}}
                                <select class="relation-size {{relation.size}}" name="flags.mastertomnl-domain-sheet.relation.size[]">
                                    {{#select relation.size }}
                                    <option value="MAJOR">{{localize "mtds.Major"}}</option>
                                    <option value="minor">{{localize "mtds.Minor"}}</option>
                                    {{/select}}
                                </select>
                                {{else}}
                                <span class="relation-size {{relation.size}}">{{relation.size}}</span>
                                {{/if}}
                                <input class="relation-name" type="text" name="flags.mastertomnl-domain-sheet.relation.name[]" value="{{relation.name}}" />
                                <select class="relation-standings standings-{{relation.standing}}" name="flags.mastertomnl-domain-sheet.relation.standing[]">
                                    {{#select relation.standing }}
                                    <option value="Hostile">{{localize "mtds.Hostile"}}</option>
                                    <option value="Suspicious">{{localize "mtds.Suspicious"}}</option>
                                    <option value="Neutral">{{localize "mtds.Neutral"}}</option>
                                    <option value="Friendly">{{localize "mtds.Friendly"}}</option>
                                    <option value="Allied">{{localize "mtds.Allied"}}</option>
                                    {{/select}}
                                </select>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="tab" data-group="primary" data-tab="action-log">
                <div class="flex-row">
                    <h2>{{localize "mtds.ActionLog"}}</h2>
                    <ol reversed class="action-log">
                        <li>
                            <h3><u>Lore</u> to figure out if Henrik went to Krezk</h3>
                            <p class="uses">Yvaine rolls an 11, add (Yvaine's) History (+6) and (Domain) Lore (-1) -> 11+6-1 = <b>16</b></p>
                            <blockquote>...</blockquote>
                        </li>
                        <li>
                            <h3><u>Espionage</u> to find the 4th minor organization in Vallaki</h3>
                            <p class="uses">Albert rolls an 8, add (Albert's) Stealth (+4) and (Domain) Espionage (+2) -> 8+4+2 = <b>14</b></p>
                            <blockquote>Our spies are roaming through the streets looking for signs of a rumoured fourth "minor" organization. When one of our members stumbles unto a very recent murder. He notices a shadowy figure leaving the scene. In pursuit of the suspected offender he barely escapes a well laid ambush. After some more questioning and investigating it's confirmed: there's an <b>Assassins Cult</b> active in Vallaki.
                            </blockquote>
                        </li>
                    </ol>
                </div>
            </div>
        </section>
    </div>
</form>